@import url('https://js.arcgis.com/3.23/esri/css/jsapi.css')

*
  margin 0
  padding 0
  box-sizing border-box

html, body
  height 100%
  width 100%
  margin 0
  padding 0
  font-family 'Source Code Pro', monospace
  font-size 0.90em

.header
  .page-title
    font-size 40px
    padding 20px
    text-transform uppercase
    color #000

.nav
  background #000

  li
    display inline-block

  a
    display inline-block
    padding 20px
    color #fff
    text-decoration none

    &:hover
      background-color #3AB795
      text-decoration underline

.main-content
  margin 30px auto
  width 90%

  p
    line-height 1.6
    margin-bottom 1.7em

.footer
  margin 50px auto
  max-width 90%
  border-top 1px solid #444
  padding 20px 0

  p
    color #444
    font-size 12px