doctype html

html
    head
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/css/d3_stacked_to_grouped_bars.css')
        title BLACKDOG - #{title}
        script(src="/scripts/d3.v4.min.js")

    body
        .header
            h1.page-title blackdog

        ul.nav
            li: a(href='/') Home
            li: a(href='/query') Consulta

        .main-content
            block content

        .footer

