extend default

block content
    div#results
        p #{results}

    form(action method="post")
        div.panel
            div.panel-heading
                div.panel-title
                | Campos a exibir

            fieldset.form-group
                label.checkbox-inline
                    input(type="checkbox", name="fields[]", value="title")
                    | Título
                label.checkbox-inline
                    input(type="checkbox", name="fields[]", value="description")
                    | Texto

        div.panel
            div.panel-heading
                div.panel-title
                | Período

            fieldset.form-group
                div.col-md-4
                    label.form-group-input-1
                    | Data Inicial
                    input(type="text", name="date_from", placeholder="YYYY-mm-dd HH:MM:SS", class="datepicker")
                div.col-md-4
                    label.form-group-input-1
                    | Data Final
                    input(type="text", name="date_to", placeholder="YYYY-mm-dd HH:MM:SS", class="datepicker")

        label(style="margin-top: 5px")
            input(type="submit", value="Gerar Dados", name="send", class="btn btn-lg btn-success btn-3d")
